<h1>Lista de usuarios</h1>
<table class="table" style="max-width: 300px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contraseña</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{password}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a href="/logout">Logout</a>